.projectCard {
    padding: 20px;
    margin-bottom: 10px;
}

.projectCard a, .projectCard span {
    padding: 10px;
    margin: 5px;
    border: 2px solid #209cee;
    font-size: 1em;
    transition-duration: 0.2s;
    border-radius: 3px;
    display: inline-block;
}
.projectCard a:hover, .projectCard span:hover {
    background: #209cee;
    color: white;
}

.projectCard .private {
    border: 2px solid grey; 
    cursor: default;
}
.projectCard .private:hover {
    background: white;
    color: black;
}

.projectCard img {
    width: calc(50vw - 40px);
    border-radius: 5px;
}

@media only screen and (max-width: 800px) {
    .projectCard img {
        width: calc(100vw - 40px);
    }
}