/* @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap'); */
@import url('https://fonts.googleapis.com/css?family=Martel&display=swap');

:root {
    --bg: #ffffff;
    --text: #000000;

    --sec: #209cdd;
    --sec-text: #ffffff;
}

.App {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    font-family: 'Martel', sans-serif;
    overflow-x: hidden;
    line-height: 1.25;
    color: var(--text);
    background: var(--bg);
}

a {
    color: var(--text);
    text-decoration: none;
}