@import url('https://fonts.googleapis.com/css?family=Taviraj&display=swap');

.header {
    height: 100vh;
    width: auto;
    text-align: center;
    transition-duration: 1s;
}
.header h1, .header h2 {
    font-family: 'Taviraj', serif;
}
.header h1 {
    font-size: 8vw;
}
.header h2 {
    font-size: 4vw;
}

.notFullHeight {
    height: 75vh;
}

@media only screen and (max-width: 450px) {
    .header h1 {
        font-size: 14vw;
    }
    .header h2 {
        font-size: 8vw;
    }
}